* {
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  background-color: bisque;
}

main {
  max-width: 24rem;
  margin: 3rem auto;
}

section,
.button {
  margin: 0 1rem;
}

.header,
.add-task{
  display: flex;
  align-items: center;
}

div,
.button {
  background-color: #fff;
  margin-bottom: 0.1rem;
}

.header,
.todo-task,
.button {
  padding: 1rem;
}

.todo-task {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-task:hover .bin-btn {
  display: block;
}

.bin-btn {
  display: none;
}

input[type=text] {
  width: 100%;
  padding: 1rem;
  border: 0;
}

input[type=text]:focus {
  outline: none;
}

input[type=text]::placeholder {
  font-style: italic;
}

.task,
label {
  cursor: move;
}

.task {
  margin-right: 0.5rem;
}

.button > input {
  width: 100%;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
